#img {
  width: 95%;
  padding: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

b {
  color: brown;
  font-size: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 420px;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px #d3d3d3d1;
  border-radius: 15px;
  font-family: sans-serif;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  background: #6699ff;
  border-radius: 0 0 15px 15px;
  padding: 10px;
  text-align: center;
}
